<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.braight.dc.admin.web.mapper.AieduQuizQuestionRelPOMapper">
  <resultMap id="BaseResultMap" type="com.braight.dc.admin.web.entity.AieduQuizQuestionRelPO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="quiz_question_id" jdbcType="INTEGER" property="quizQuestionId" />
    <result column="ai_tool_id" jdbcType="INTEGER" property="aiToolId" />
    <result column="tool_id" jdbcType="VARCHAR" property="toolId" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="courseware_id" jdbcType="VARCHAR" property="coursewareId" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from aiedu_quiz_question_rel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.braight.dc.admin.web.entity.AieduQuizQuestionRelPO">
    insert into aiedu_quiz_question_rel (id, quiz_question_id, ai_tool_id, tool_id, source,
      courseware_id, created_at, updated_at
      )
    values (#{id,jdbcType=INTEGER}, #{quizQuestionId,jdbcType=INTEGER}, #{aiToolId,jdbcType=INTEGER}, #{toolId,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR},
      #{coursewareId,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.braight.dc.admin.web.entity.AieduQuizQuestionRelPO">
    update aiedu_quiz_question_rel
    set quiz_question_id = #{quizQuestionId,jdbcType=INTEGER},
      ai_tool_id = #{aiToolId,jdbcType=INTEGER},
      tool_id = #{toolId,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      courseware_id = #{coursewareId,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select *
    from aiedu_quiz_question_rel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select *
    from aiedu_quiz_question_rel
  </select>
  <select id="selectList" parameterType="com.braight.dc.admin.web.entity.AieduQuizQuestionRelPO" resultMap="BaseResultMap">
    select *
    from aiedu_quiz_question_rel
    <where>
      <if test="toolId != null and toolId != ''">
        and tool_id = #{toolId}
      </if>
      <if test="aiToolId != null">
        and ai_tool_id = #{aiToolId}
      </if>
      <if test="coursewareId != null and coursewareId != ''">
        and courseware_id = #{coursewareId}
      </if>
      <if test="source != null and source != ''">
        and source = #{source}
      </if>
    </where>
  </select>
  <select id="selectRecommendedList" parameterType="com.braight.dc.admin.web.entity.AieduQuizQuestionRelPO" resultMap="BaseResultMap">
    select *
    from aiedu_quiz_question_rel
    <where>
      <choose>
        <when test="toolId != null and toolId != ''">
          or (tool_id = #{toolId} or source = 'ai-tool')
        </when>
        <otherwise>
          or source = 'ai-tool'
        </otherwise>
      </choose>
      <choose>
        <when test="coursewareId != null and coursewareId != ''">
          or (courseware_id = #{coursewareId} or source = 'courseware')
        </when>
        <otherwise>
          or source = 'courseware'
        </otherwise>
      </choose>
    </where>
  </select>
</mapper>
